{% extends "layout.html" %}
{% block body %}	
<div class="row-fluid">
  <div class="span2">
    {% include 'sidebar.html' %}
  </div>
  <div id="content" class="span10">
    <div class="hero-unit">
    	<h1>Hi,</h1>
	      <p>I'm Leselys, your very elegant RSS reader.</p>
      	<p><a href="https://github.com/socketubs/leselys" target="_blank" class="btn btn-primary btn-large">
			Learn more</a></p>
    </div>
  </div>
</div>

<!-- Template story -->
  <div id="template-story" class="accordion-inner" style="display: none">
    <p style="font-size: 12px">
      <span id="story-date" class="label"></span> | <a id="story-link" href="" target="_blank">External link</a> |
       <a id="story-unread" href="#" onClick="">Unread</a>
      <br /><br />
    </p>
    <div id="story-content"></div>
  </div>
<!-- -->
{% endblock %}
