{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" ng-app="leselysApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leselys</title>
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static "css/leselys.css" %}" rel="stylesheet">
    <script type="text/javascript">
        var static_url = "{% static "." %}";
    </script>
</head>
<body>
    <div class="navbar navbar-default navbar-static-top" ng-controller="navbarCtrl">
      <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Leselys</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ng-class="getClass('home')"><a href="/#">Home</a></li>
                <li ng-class="getClass('settings')"><a href="#/settings">Settings</a></li>
                <li ng-class="getClass('about')"><a href="#/about">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Add feed <strong class="caret"></strong></a>
                    <ul class="dropdown-menu">
                        <form name="add-feed" class="form-inline add-feed" role="form" ng-submit="addSubscription(feedUrl)">
                            {% csrf_token %}
                            <input ng-model="feedUrl" id="add-feed-input" class="form-control add-feed" onclick="if(event.stopPropagation){event.stopPropagation();}event.cancelBubble=true;" type="url">
                            <input class="btn btn-success add-feed" onclick="this.parentNode.parentNode.parentNode.className = 'dropdown';" value="Add it!" type="submit">
                        </form>
                    </ul>
                </li>
                <li class="divider-vertical"></li>
                <li><a href="/#/logout">Logout</a></li>
            </ul>
        </div>
      </div>
    </div>

    <div class="container">
        <div ng-view>
    </div>

    <script src="{% static "js/lib/angular.min.js" %}"></script>
    <script src="{% static "js/lib/angular-route.min.js" %}"></script>
    <script src="{% static "js/lib/angular-resource.min.js" %}"></script>
    <script src="{% static "js/lib/angular-sanitize.min.js" %}"></script>
    <script src="{% static "js/lib/ui-bootstrap-tpls-0.7.0.min.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
    <script src="{% static "js/controllers.js" %}"></script>
    <script src="{% static "js/services.js" %}"></script>
</body>
</html>
