<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Leselys</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon"/>
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon"/>
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/journal.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/leselys.css') }}" rel="stylesheet">
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="{{ url_for('static', filename='js/leselys.js') }}"></script>
</head>
<body>
  <div class="container-fluid">
    {% block body %}{% endblock %}
  </div>
  
  <!-- Template add subscription -->
  <form id="template-add-subscription" style="display: none">
    <fieldset>
      <center>
        <input id="urlSubscription" type="text" class="input-medium" placeholder="Url…">
        <button type="submit" class="btn" onClick="addSubscription()">Submit</button>
      </center>
    </fieldset>
  </form>
  <!-- -->

  <!-- Template story accordion -->
  <div id="template-story-accordion" class="accordion-group" style="display: none">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#story-list-accordion" href=""></a>
    </div>
    <div class="accordion-body collapse">
      <div class="accordion-inner"></div>
    </div>
  </div>
  <!-- -->

  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
</body>
</html>
