{% extends "layout.html" %}
{% block body %}	
<form class="form-signin" method="POST" action="/api/login?jsonify=false" >
  <h2 class="form-signin-heading">Please sign in</h2>
  <input id="username-input" name="username" type="text" class="input-block-level" placeholder="Username">
  <input name="password" type="password" class="input-block-level" placeholder="Password">
  <label class="checkbox">
    <input name="remember" type="checkbox" value="false"> Remember me
  </label>
  <button class="btn btn-large btn-primary" type="submit">Sign in</button>
</form>

<script type="text/javascript">
  window.onload = function () {
    document.getElementById('username-input').focus();
  }
</script>
{% endblock %}
