{% extends "layout.html" %}
{% block body %}	
<div class="row-fluid">
  <div class="span2">
    {% include 'sidebar.html' %}
  </div>
  <div id="content" class="span10">
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#settings" data-toggle="tab">Settings</a></li>
        <li><a href="#feeds" data-toggle="tab">Feeds</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="settings">
        	<form class="form-inline">
            <fieldset>
            <legend>Settings</legend>
            {% for setting, value in settings.items() %}
            	{% if setting == "acceptable_elements" %}
            		<label>Acceptable elements</label>
		            <input type="text" value="{{ ','.join(value) }}">
          	  {% else %}
  	          	<label>{{ setting|title }}</label>
	  	          <input type="text" placeholder="{{ value }}">
            	{% endif %}
        	  {% endfor %}
	          <br />
  	        <br />
            <button type="submit" class="btn btn-info">Save</button>
            </fieldset>
          </form>
        </div>
        <div class="tab-pane" id="feeds">
          <ul>
          {% if subscriptions %}
            {% for feed in subscriptions %}
              <li id="{{ feed.id }}">{{ feed.title }} (<a onClick="delSubscription(&quot;{{ feed.id }}&quot;)" href="#">delete</a>)</li>
            {% endfor %}
            <span id="empty-feed-list" style="display: none"><em>No subscriptions...</em></span>
          {% else %}
            <span id="empty-feed-list"><em>No subscriptions...</em></span>
          {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
