{% extends "layout.html" %}
{% block body %}
<div class="row-fluid">
  <div class="span2">
    {% include 'sidebar.html' %}
  </div>
  <div id="content" class="span10">
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#settings" data-toggle="tab">Settings</a></li>
        <li><a href="#feeds" data-toggle="tab">Feeds</a></li>
        <li><a href="#import-export" data-toggle="tab">Import/Export</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="settings">
        	<form class="form-inline">
            <fieldset>
            <legend>Settings</legend>
            {% for setting, value in settings.items() %}
            	{% if setting == "acceptable_elements" %}
            		<label>Acceptable elements</label>
		            <input type="text" value="{{ ','.join(value) }}">
          	  {% else %}
  	          	<label>{{ setting|title }}</label>
	  	          <input type="text" placeholder="{{ value }}">
            	{% endif %}
        	  {% endfor %}
	          <br />
  	        <br />
            <button type="submit" class="btn btn-info">Save</button>
            </fieldset>
          </form>
        </div>
        <div class="tab-pane" id="feeds">
          <ul>
          {% if subscriptions %}
            {% for feed in subscriptions %}
            <li id="{{ feed.id }}">{{ feed.title }} (<a class="muted" onClick="delSubscription(&quot;{{ feed.id }}&quot;)" href="#">remove</a>) - <a href="{{ feed.url }}">{{ feed.url }}</a></li>
            {% endfor %}
            <span id="empty-feed-list" style="display: none"><em>No subscriptions...</em></span>
          {% else %}
            <span id="empty-feed-list"><em>No subscriptions...</em></span>
          {% endif %}
          </ul>
        </div>
        <div class="tab-pane" id="import-export">
          <div class="form-inline">
            <legend>Import</legend>
              <div style="position:relative;">
                <a id="OPMLButton" class='btn' href='javascript:;'>
                  Choose OPML File here
                  <input id="OPMLFile" type="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="files[]" size="40"  onchange='$("#upload-file-info").html($(this).val().replace("C:\\fakepath\\", ""));' multiple />
                </a>
                <output id="list"></output>
                &nbsp;
                <span class='label label-info' id="upload-file-info"></span>
                <br /><br />
                <button id="OPMLSubmit" type="submit" class="btn btn-info">Upload</button>
              </div>
          </div>
          <br />
          <form class="form-inline" method="GET" action="/api/export/opml">
            <legend>Export</legend>
              <div style="position:relative;">
                <button type="submit" class="btn btn-info">Download</button>
              </div>
          </form> 
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    document.getElementById('OPMLSubmit').addEventListener('click', handleOPMLImport, false);
  });
</script>
{% endblock %}
