<div class="sidebar-nav">
  <ul id="menu" class="nav nav-list sidenav-affix" data-spy="affix">
    <li class="divider"></li>
    <center>
      <li id="icons">
        <a href="#" onclick="viewHome()"><i class="icon-home"></i></a>
        <a href="#" onclick="viewSettings()"><i class="icon-wrench"></i></a>
        <a href="#" onclick="addToggle()"><i class="icon-plus-sign"></i></a>
        <a href="https://github.com/socketubs/leselys" target="_blank"><i class="icon-github-alt"></i></a>
        <a href="/logout"><i class="icon-off"></i></a>
      </li>
    </center>
    <li class="divider"></li>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
              <a class="close" data-dismiss="alert" href="#">&times;</a>{{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}

    {% if not feeds %}
      <li style="display:none" class="nav-header feeds-list-title">Feeds</li>
      <li class="empty-feed-list"><center><em>Add your first feed with the little cross icon.</em></center></li>
    {% else %}
      <li class="nav-header feeds-list-title">Feeds</li>
      {% for feed in feeds %}
        {% if feed.counter > 0 %}
          <li class="feed unread" id="{{ feed.id }}"><a onClick="viewFeed(&quot;{{ feed.id }}&quot;)" href="#{{ feed.id }}">{{ feed.title }} <span class="unread-counter muted">({{ feed.counter }})</span></a></li>
        {% else %}
          <li class="feed" id="{{ feed.id }}"><a onClick="viewFeed(&quot;{{ feed.id }}&quot;)" href="#{{ feed.id }}">{{ feed.title }} <span style="display: none" class="unread-counter muted">({{ feed.counter }})</span></a></li>
        {% endif %}
      {% endfor %}
      <li class="empty-feed-list" style="display: none"><center><em>Add your first feed with the little cross icon.</em></center></li>
    {% endif %}
  </ul>
</div>
