<div class="row">
    <div class="col-md-3">
        <h2>Feeds</h2>
        <hr>
        <ul class="nav">
            <li ng-repeat="folder in folders">
                <h4>{{ folder.name }}</h4>
                <ul class="nav nav-pills nav-stacked">
                    <li ng-repeat="subscription in subscriptions|filter:{folder:folder.id}">
                        <a ng-class="{strong:selectedSubscription.id == subscription.id}" href="#/read/{{ subscription.id }}"/>
                            <img ng-src="{{ subscription.favicon_url }}">
                            {{ subscription.title }} <span ng-show="subscription.unread_counter" class="badge pull-right">{{ subscription.unread_counter }}</span>
                        </a>
                    </li>
                    <span ng-show="(feeds|filter:{folder:folder.id}).length == 0">
                        <em>Empty folder...</em>
                    </span>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-md-9">
        <div ng-show="selectedSubscription.id">
            <h2>{{ selectedSubscription.title }}</h2>
            <hr>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="story in stories">
                    <a ng-class="getStoryClass(story)" href="#/read/{{story.subscription}}/{{ story.id }}">
                        {{ story.title }}
                    </a>
                    <div ng-show="selectedStory.id == story.id">
                        <hr>
                        <p ng-bind-html="selectedStory.description"></p>
                    </div>
                </li>
            </ul>
        </div>
        <div ng-show="!selectedSubscription.id">
            <div class="jumbotron">
                <div class="container">
                    <h1>Hi,</h1>
                    <p>I'm Leselys, your beautiful reader.</p>
                </div>
            </div>
        </div>
</div>
