<div class="row">
    <h2>Settings</h2>
    <hr>
    <tabset>
        <tab heading="Folders">
            <br />
            <form class="form-inline pull-right" role="form">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="folder.name" placeholder="Folder name">
                </div>
                <button type="submit" class="btn btn-success" ng-click="addFolder(folder.name)">
                    Add new folder
                </button>
            </form>
            <div class="clearfix"></div>
            <hr>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="folder in folders">
                    {{ folder.name }}
                    <span class="pull-right">
                        <button type="button" class="btn btn-xs btn-danger" ng-click="deleteFolder(folder)">Delete</button>
                        <button type="button" class="btn btn-xs btn-warning">Rename</button>
                    </span>
                </li>
            </ul>
            <div class="well well-lg" ng-show="folders.length == 0">No folders...</div>
        </tab>
        <tab heading="Feeds">
            <br />
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="feed in feeds">
                    <img ng-src="{{ feed.favicon_url }}">
                    <a ng-click="feed.settingsOpen = !feed.settingsOpen" href="">
                        <strong>{{ feed.title }}</strong>
                    </a>
                    <button type="button" class="pull-right btn btn-xs btn-danger" ng-click="deleteFeed(feed)">Delete</button>
                    <div ng-show="feed.settingsOpen">
                        <hr>
                        <div class="alert alert-warning" ng-show="feed.in_error">
                            {{ feed.error }} at {{ feed.updated | date:'medium' }}
                        </div>
                        <dl class="dl-horizontal">
                            <dt>Title</dt>
                            <dd>{{ feed.custom_title || feed.title }}</dd>
                            <dt>Folder</dt>
                            <dd>{{ feed.folder_text }}</dd>
                            <dt>Feed URL</dt>
                            <dd><a href="{{ feed.url }}" target="_blank">{{ feed.url }}</a></dd>
                            <dt>Website URL</dt>
                            <dd><a href="{{ feed.url }}" target="_blank">{{ feed.website_url }}</a></dd>
                            <dt>Favicon URL</dt>
                            <dd><img ng-src="{{ feed.favicon_url }}"> <a href="{{ feed.favicon_url }}" target="_blank">{{ feed.favicon_url }}</a></dd>
                            <dt>Ordering</dt>
                            <dd>{{ feed.ordering_text }}</dd>
                            <dt>Added</dt>
                            <dd>{{ feed.added | date:'medium' }}</dd>
                            <dt>Updated</dt>
                            <dd>{{ feed.updated | date:'medium'}}</dd>
                        </dl>
                    </div>
                </li>
            </ul>
            <div class="well well-lg" ng-show="feeds.length == 0">No feeds...</div>
        </tab>
        <tab heading="Options">Static content</tab>
    </tabset>
</div>
