<div class="row">
    <h2>Settings</h2>
    <hr>
    <tabset>
        <tab heading="Folders">
            <br />
            <form ng-submit="addFolder(folder.name)">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="New folder name" ng-model="folder.name">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-success" type="button">Add</button>
                    </span>
                </div>
            </form>
            <hr>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="folder in folders">
                    {{ folder.name }}
                    <span class="pull-right">
                        <button type="button" class="btn btn-xs btn-success" ng-click="folder.settingsOpen = !folder.settingsOpen">Edit</button>
                    </span>
                    <div ng-show="folder.settingsOpen">
                        <hr>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="New folder name" ng-model="newName">
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="button" ng-click="renameFolder(folder, newName)">
                                    Save
                                </button>
                            </span>
                        </div>
                        <hr>
                        <button type="button" class="btn btn-xs btn-danger pull-right" ng-click="deleteFolder(folder)">Delete</button>
                        <div class="clearfix"></div>
                    </div>
                </li>
            </ul>
            <div class="well well-lg" ng-show="folders.length == 0">No folders...</div>
        </tab>
        <tab heading="Feeds">
            <br />
            <form ng-submit="addFeed(feedUrl)">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="New feed URL" ng-model="feedUrl">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-success" type="button">Add</button>
                    </span>
                </div>
            </form>
            <hr>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="feed in feeds">
                    <img ng-src="{{ feed.favicon_url }}"> {{ feed.title }}
                    <span class="pull-right">

                        <button type="button" class="btn btn-xs btn-success" ng-click="feed.settingsOpen = !feed.settingsOpen">
                            Edit
                        </button>
                    </span>
                    <div ng-show="feed.settingsOpen">
                        <hr>
                        <div class="alert alert-warning" ng-show="feed.in_error">
                            {{ feed.error }} at {{ feed.updated | date:'medium' }}
                        </div>
                        <form class="form-horizontal" role="form" ng-submit="updateFeed(feed)">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Title</label>
                                <div class="col-sm-6">
                                    <p class="form-control-static">{{ feed.title }}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Custom title</label>
                                <div class="col-sm-6">
                                    <input class="form-control" value="{{ feed.custom_title }}" ng-model="feed.custom_title">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Folder</label>
                                <div class="col-sm-6">
                                    <select class="form-control" ng-model="feed.folder" ng-options="folder.id as folder.name for folder in folders">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Feed URL</label>
                                <div class="col-sm-6">
                                    <input class="form-control" value="{{ feed.url }}" ng-model="feed.url">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Website URL</label>
                                <div class="col-sm-6">
                                    <input class="form-control" value="{{ feed.website_url }}" ng-model="feed.website_url">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Favicon URL</label>
                                <div class="col-sm-6">
                                    <input class="form-control" value="{{ feed.favicon_url }}" ng-model="feed.favicon_url">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Ordering</label>
                                <div class="col-sm-6">
                                    <select class="form-control" ng-model="feed.ordering" ng-options="ordering.id as ordering.name for ordering in ordering">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Added</label>
                                <div class="col-sm-6">
                                    <p class="form-control-static">{{ feed.added | date:'medium' }}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Updated</label>
                                <div class="col-sm-6">
                                    <p class="form-control-static">{{ feed.updated | date:'medium' }}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-success">Save</button>
                                </div>
                            </div>
                        </form>
                        <hr>
                        <button type="button" class="btn btn-xs btn-danger pull-right" ng-click="deleteFeed(feed)">
                            Delete
                        </button>
                        <div class="clearfix"></div>
                    </div>
                </li>
            </ul>
            <div class="well well-lg" ng-show="feeds.length == 0">No feeds...</div>
        </tab>
    </tabset>
</div>
